<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: html_head"></head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container w-50 mt-5 text-center">
    <h1 class="mb-3 mt-3 text-center"
        th:text="${isEditMode} ? 'Edit Leave Type Details' : 'View Updated Leave Type Details'"></h1>

    <!-- hidden fields -->
    <input name="leaveTypeId" th:value="${leaveTypeId}" type="hidden"/>

    <!-- Edit mode form -->
    <form method="post" th:action="@{/admin/manage-leave-types/update}" th:if="${isEditMode}" th:object="${leaveType}">
        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="leaveTypeId">Id:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="leaveTypeId" name="leaveTypeId" readonly th:field="*{id}"
                       type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="leaveTypeName">Name:</label>
            <div class="col-8">
                <input class="form-control" id="leaveTypeName" th:field="*{leaveType}" type="text"/>
            </div>
        </div>

        <div class="mb-3 row ">
            <label class="col-4 col-form-label" for="leaveTypeDescription">Description:</label>
            <div class="col-8">
                <textarea class="form-control" id="leaveTypeDescription" rows="3"
                          th:field="*{description}"></textarea>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <hr class="bg-primary border-2 border-top border-primary">
            </div>
            <div class="col-auto">Maximum Leave Period by Job Designation</div>
            <div class="col">
                <hr class="bg-primary border-2 border-top border-primary">
            </div>
        </div>

        <br>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="">Administrative</label>
            <div class="col-8">
                <input class="form-control" id="" type="text" value="14"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="">Management</label>
            <div class="col-8">
                <input class="form-control" id="" type="text" value="30"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="">Cleaning</label>
            <div class="col-8">
                <input class="form-control" id="" type="text" value="5"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="">Intern</label>
            <div class="col-8">
                <input class="form-control" id="" type="text" value="1"/>
            </div>
        </div>


        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label"></label>
            <div class="col-8">
                <div class="">
                    <div class="form-check form-check-inline">

                        <!--
                        <input autocomplete="off" class="btn-check" id="roleEmployee" type="checkbox">
                        <label class="btn btn-outline-secondary" for="roleEmployee">Employee</label>

                        <input autocomplete="off" class="btn-check" id="roleManager" name="options" type="checkbox">
                        <label class="btn btn-outline-secondary" for="roleManager">Manager</label>

                        <input autocomplete="off" class="btn-check" id="roleAdmin" name="options" type="checkbox">
                        <label class="btn btn-outline-secondary" for="roleAdmin">Admin</label>

                        <input autocomplete="off" class="btn-check" id="roleLocked" name="options" type="checkbox">
                        <label class="btn btn-outline-secondary" for="roleLocked">Locked</label>

                        <input autocomplete="off" class="btn-check" id="roleExpired" name="options" type="checkbox">
                        <label class="btn btn-outline-secondary" for="roleExpired">Expired</label>
                        -->
                    </div>
                </div>
            </div>
        </div>

        <div>
            <input class="btn btn-primary float-end" type="submit" value="Update"/>
        </div>
    </form>

    <!-- Success View -->
    <div th:if="${!isEditMode}">
        <!-- todo: include saved details -->

        <div class="alert alert-success mt-3" th:if="${updateSuccess}">Employee details updated successfully!</div>
    </div>


</div>

</body>
</html>