<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container">
    <h1>All Leave Types</h1>
    <br>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Who is Eligible</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leaveType :${leaveTypeList}">
            <td th:text="${leaveType.id}"></td>
            <td th:text="${leaveType.leaveType}"></td>
            <td th:text="${leaveType.description}"></td>
            <td>
                <span th:each="jobDesignation:${jobDesignations}">
                    <button class="btn btn-outline-dark" th:text="${jobDesignation.name}"
                            type="button">
                    </button>
                </span>
            </td>
            <td><a class="btn btn-primary" th:href="@{/admin/manage-leave-types/edit/{id}(id=${leaveType.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>