<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
<title>Leave Application</title>
<!--    <script src="/js/leaveForm.js"></script>-->
</head>
<body>

<h3>Leave Application Details</h3>

<script>
    //Ensure either Approve or Reject selected
    function validateForm() {
        const leaveStatusChecked = document.querySelector('input[name="leaveStatus"]:checked');
        if (!leaveStatusChecked) {
            alert("Please select either Approve or Reject.");
            return false;
        }
        const leaveStatus = leaveStatusChecked.value;
        const rejectionReason = document.getElementById('rejectionReason').value;

        //Ensure rejection reason given
        if (leaveStatus === 'REJECTED' && rejectionReason.trim() === '') {
            alert("Please provide a reason for rejection.");
            return false;
        }
        return true;
    }

    // Check for the success parameter in the URL
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('updateSuccess') === 'true') {
            alert("Leave status has been updated successfully.");
        }
    };
</script>

<form th:object="${leave}" method="post" th:action="@{/leave/submitLeaveApplication}" onsubmit="return validateForm();">
    <input type="hidden" th:field="${leave.submittingEmployee}"/>
    <input type="hidden" th:field="${leave.reviewingManager}"/>
    <input type="hidden" th:field="${leave.leaveType}"/>
    <input type="hidden" th:field="${leave.startDate}"/>
    <input type="hidden" th:field="${leave.endDate}"/>
    <input type="hidden" th:field="${leave.submissionReason}"/>
    <input type="hidden" th:field="${leave.workDissemination}"/>
    <input type="hidden" th:field="${leave.contactDetails}"/>

    <table>
        <tbody>
        <tr>
            <td>Employee Name</td>
            <td th:text="${leave.submittingEmployee.name}"></td>
        </tr>
        <tr>
            <td>Leave Type</td>
            <td th:text="${leave.leaveType}"></td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td th:text="${leave.startDate}"></td>
        </tr>
        <tr>
            <td>End Date</td>
            <td th:text="${leave.endDate}"></td>
        </tr>
        <tr>
            <td>Approving Manager</td>
            <td th:text="${leave.submittingEmployee.manager.name}"></td>
        </tr>
        <tr>
            <td>Reason</td>
            <td th:text="${leave.submissionReason}"></td>
        </tr>
        <tr>
            <td>Work Dissemination (if any)</td>
            <td th:text="${leave.workDissemination}"></td>
        </tr>
        <tr>
            <td>Contact Details (if on an overseas trip)</td>
            <td th:text="${leave.contactDetails}"></td>
        </tr>
        <tr>
            <td>Leave Status</td>
            <td th:text="${leave.leaveStatus}"></td>
        </tr>
        <tr>
            <td>Approval Status</td>
            <td>
                <!-- Approve or Reject Buttons here -->
                <fieldset>
                    <label for="approve">Approve</label>
                    <input type="radio" id="approve" name="leaveStatus" value="APPROVED" th:field="*{leaveStatus}" />
                    &nbsp;&nbsp;
                    <label for="reject">Reject</label>
                    <input type="radio" id="reject" name="leaveStatus" value="REJECTED" th:field="*{leaveStatus}" />
                </fieldset>
            </td>
            <td th:if="${#fields.hasErrors('leaveStatus')}" th:errors="*{leaveStatus}"></td>
        </tr>
        <tr>
            <td>
                <label for="rejectionReason">Rejection Reason</label>
            </td>
            <td>
                <textarea id="rejectionReason" rows="2" cols="50" th:field="*{rejectionReason}"></textarea>
            </td>
            <td th:if="${#fields.hasErrors('rejectionReason')}" th:errors="*{rejectionReason}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input th:type="submit" th:value="Confirm" class="blcass" />
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" onclick="window.location.href='/leave/pendingLeaves/'; return false;">Back</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>

</html>
