<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container">
    <h1>Employee Leave Balances</h1>
    <br>

    <!-- View Toggle -->
    <div th:replace="~{admin/leave-entitlement/view-toggle :: view-toggle(view='employees')}"></div>
    <br>

    <!-- Search bar -->
    <form class="form-inline" method="get" th:action="@{/admin/leave-entitlement/view-employees}">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">Filter By</span>
                <!-- filter -->
                <div class="input-group-btn">
                    <select class="form-control" name="searchType">
                        <option selected th:selected="${searchtype == 'name'}" th:value="name">Name</option>
                        <option th:selected="${searchtype == 'jobDesignation'}" th:value="jobDesignation">Job
                            Designation
                        </option>
                        <option th:selected="${searchtype == 'manager'}" th:value="manager">Manager</option>
                    </select>
                </div>
                <!-- query -->
                <input class="form-control rounded" name="query" placeholder="Search..."
                       aria-label="Search" aria-describedby="search-addon"
                       th:value="${keyword}" type="search"/>
                <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>

            </div>
        </div>
    </form>

    <!-- employee list -->
    <table class="table table-bordered table-hover mt-5" th:if="${not #lists.isEmpty(employees)}">
        <thead class="bg-primary">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Annual Leaves</th>
            <th>Current Annual Leave</th>
            <th>Medical Leaves</th>
            <th>Medical Leave Remaining</th>
            <th>Compassionate Leave Used</th>
            <th>Compensation Leaves</th>
            <th>Compensation Leave Used</th>
            <th>Unpaid Leave Used</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.leaveBalance.annualLeave}"></td>
            <td th:text="${employee.leaveBalance.currentAnnualLeave}"></td>
            <td th:text="${employee.leaveBalance.medicalLeave}"></td>
            <td th:text="${employee.leaveBalance.currentMedicalLeave}"></td>
            <td th:text="${employee.leaveBalance.compassionateLeaveConsumed}"></td>
            <td th:text="${employee.leaveBalance.compensationLeave}"></td>
            <td th:text="${employee.leaveBalance.currentCompensationLeave}"></td>
            <td th:text="${employee.leaveBalance.unpaidLeaveConsumed}"></td>
            <td><a class="btn btn-primary" th:href="@{/admin/leave-entitlement/edit/employee/{id}(id=${employee.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
