<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: html_head"></head>

<style>
    .error {
        color: red;
    }
</style>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container w-50 mt-5 text-center">
    <h1 class="mb-3 mt-3 text-center"
        th:text="${isEditMode} ? 'Create User' : 'View User Details'"></h1>

    <!-- Edit mode form -->
    <!-- todo: include validation for the respective fields -->
    <form method="post" th:action="@{/admin/manage-staff/create/user}" th:if="${isEditMode}" th:object="${user}">
        <input name="employee" th:field="*{employee}" type="hidden"/>
        <!-- hidden fields -->
        <input type="hidden" name="userId" th:field="${user.id}"/>
        <input type="hidden" name="employee" th:field="${user.employee}"/>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="userName">Username:</label>
            <div class="col-8">
                <input class="form-control" id="userName" th:field="*{username}" type="text"/>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                      th:class="${#fields.hasErrors('username')}? error"></span>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="userPassword">Password:</label>
            <div class="col-8">
                <input class="form-control" name="userPassword" id="userPassword" th:field="*{password}"
                       type="password" onChange="check()" />

                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                      th:class="${#fields.hasErrors('password')}? error"></span>

            </div>
        </div>

        <!-- reconfirm password -->
        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="userPassword">Confirm Password:</label>
            <div class="col-8">
                <input class="form-control" name="confirmPassword" id="confirmPassword"
                       type="password" onChange="check()"/>
                <span id='message'></span>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="userEmail">Email:</label>
            <div class="col-8">
                <input class="form-control" id="userEmail" th:field="*{email}" type="text"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                      th:class="${#fields.hasErrors('email')}? error"></span>
            </div>
        </div>
        <!-- role -->
        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="role">Role Given:</label>
            <div class="col-8">
                <div class="">
                    <div class="form-check form-check-inline">
                        <select id="role" th:field="*{role}">
                            <option th:each="role: ${roles}" th:text="${role}" th:value="${role}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="d-flex flex-row-reverse">
            <div class="p-2">
            <span class="ms-3">
                <input class="btn btn-primary float-end" type="submit" value="Create"/>
            </span>
            </div>
        </div>



    </form>

    <!-- Success View -->
    <div th:if="${!isEditMode}" th:object="${newUser}">

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="employeeIdtext">ID:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="employeeIdtext" readonly="readonly"
                       th:value="${newUser.employee.id}"
                       type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="employeeNametext">Name:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="employeeNametext" readonly="readonly"
                       th:value="${newUser.employee.name}" type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="managerName">Assigned Manager:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="managerName" readonly="readonly"
                       th:value="${newUser.employee.manager != null ? newUser.employee.manager.name : 'No Manager'}"
                       type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="jobDesignation">Job Designation:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="jobDesignation" readonly="readonly"
                       th:value="${newUser.employee.jobDesignation.name}" type="text"/>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <hr class="bg-primary border-2 border-top border-primary">
            </div>
            <div class="col-auto">User Account Details</div>
            <div class="col">
                <hr class="bg-primary border-2 border-top border-primary">
            </div>
        </div>

        <br>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="usernameSaved">User Name:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="usernameSaved" readonly="readonly"
                       th:value="${newUser.username}" type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="userPasswordSaved">User Password:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="userPasswordSaved" readonly="readonly"
                       th:value="${newUser.password}" type="password"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="userEmailSaved">User Email:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="userEmailSaved" readonly="readonly"
                       th:value="${newUser.email}" type="password"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="userRoleSaved">User Role:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="userRoleSaved" readonly="readonly"
                       th:value="${newUser.role}" type="text"/>
            </div>
        </div>


        <div class="alert alert-success mt-3" th:if="${updateSuccess}">User details updated successfully!</div>


        <div class="d-flex flex-row-reverse">
            <div class="p-2">
            <span class="ms-3">
                <a class="btn btn-primary text-decoration-none"
                   th:href="@{/admin/manage-staff/}">Return</a>
            </span>
            </div>
        </div>
    </div>

</div>

<script src="/js/newUserForm.js"></script>
</body>
</html>