<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head}"></head>

<body>
<div th:replace="~{fragments/navbar :: menu}"></div>

<div class="container w-50 mt-5 text-center">
    <h1 class="mb-3 mt-3 text-center"
        th:text="${isEditMode} ? 'Edit Employee Details' : 'View Updated Employee Details'"></h1>

    <!-- Edit mode form -->
    <form th:if="${isEditMode}" method="post" th:action="@{/admin/manage-staff/update}" th:object="${employee}">
        <!-- hidden fields -->
        <input name="employeeId" th:value="${employeeId}" type="hidden"/>
        <input th:field="*{leaveBalance}" type="hidden"/>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="employeeId">ID (read-only):</label>
            <div class="col-8">
                <input class="form-control" id="employeeId" readonly="readonly" th:field="*{id}" type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="employeeName">Name:</label>
            <div class="col-8">
                <input class="form-control" id="employeeName" th:field="*{name}" type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="manager">Assigned Manager:</label>
            <div class="col-8">
                <select th:field="*{manager.id}" class="form-select" id="manager" name="manager">
                    <option th:value="null" th:text="'No Manager'" th:selected="${employee.manager == null}"></option>
                    <option th:each="manager : ${managerList}" th:text="${manager.name}" th:value="${manager.id}"
                            th:selected="${employee.manager != null and employee.manager.id == manager.id}"></option>
                </select>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="employeeJobDesignation">Job Designation:</label>
            <div class="col-8">
                <select th:field="*{jobDesignation.id}" class="form-select" id="employeeJobDesignation"
                        name="jobDesignationId">
                    <option th:each="jd : ${jobDesignationList}" th:text="${jd.name}" th:value="${jd.id}"
                            th:selected="${employee.jobDesignation.id}"></option>
                </select>
            </div>
        </div>

        <div>
            <input class="btn btn-primary float-end" type="submit" value="Update"/>
        </div>
    </form>

    <!-- Success View-->
    <div th:if="${!isEditMode}">

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="employeeIdtext">ID:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="employeeIdtext" readonly="readonly" th:value="${employee.id}"
                       type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="employeeNametext">Name:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="employeeNametext" readonly="readonly"
                       th:value="${employee.name}" type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="managerName">Assigned Manager:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="managerName" readonly="readonly"
                       th:value="${employee.manager.name}" type="text"/>
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label class="col-4 col-form-label" for="jobDesignation">Job Designation:</label>
            <div class="col-8">
                <input class="form-control-plaintext" id="jobDesignation" readonly="readonly"
                       th:value="${employee.jobDesignation.name}" type="text"/>
            </div>
        </div>

        <div>
            <a th:href="@{/admin/manage-staff/edit/{id}(id=${employee.id})}" class="btn btn-primary float-end">Edit</a>
        </div>

        <div class="alert alert-success mt-3" th:if="${updateSuccess}">Employee details updated successfully!</div>

    </div>
</div>

</body>
</html>