<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
    <h1>Review Compensation Claim </h1>

    <form action="#" th:action="@{/compensation-claims/approvalForm}" th:object="${compensationClaim}" method="post">
        <input type="hidden" th:field="${compensationClaim.id}"/>
        <input type="hidden" th:field="${compensationClaim.claimingEmployee}"/>
        <input type="hidden" th:field="${compensationClaim.approvingManager}"/>
        <input type="hidden" th:field="${compensationClaim.claimDateTime}"/>
        <input type="hidden" th:field="${compensationClaim.overtimeStart}"/>
        <input type="hidden" th:field="${compensationClaim.overtimeEnd}"/>
        <input type="hidden" th:field="${compensationClaim.overtimeHours}"/>
        <input type="hidden" th:field="${compensationClaim.compensationLeaveRequested}"/>

        <table>
            <tbody>
                <tr>
                    <td>Claim Id: </td>
                    <td th:text="${compensationClaim.id}"></td>
                </tr>
                <tr>
                    <td>Claiming Employee Name: </td>
                    <td th:text="${compensationClaim.claimingEmployee.name}"></td>
                </tr>

                <tr>
                    <td>Overtime Start</td>
                    <td th:text="${#temporals.format(compensationClaim.overtimeStart, 'dd-MMM-yyyy, HH:mm')}"></td>
                </tr>

                <tr>
                    <td>Overtime End</td>
                    <td th:text="${#temporals.format(compensationClaim.overtimeEnd, 'dd-MMM-yyyy, HH:mm')}"></td>
                </tr>

                <tr>
                    <td>Overtime Hours</td>
                    <td th:text="${compensationClaim.overtimeHours}"></td>
                </tr>

                <tr>
                    <td>Eligible Compensation Leave</td>
                    <td th:text="${compensationClaim.compensationLeaveRequested}"></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <fieldset>
                            <label for="approve" th:text="Approve"></label>
                            <input type="radio" id="approve" th:field="${compensationClaim.claimStatus}" th:value="APPROVED" />
                            &nbsp;&nbsp;
                            <label for="reject" th:text="Reject"></label>
                            <input type="radio" id="reject" th:field="${compensationClaim.claimStatus}" th:value="REJECTED" />
                        </fieldset>
                    </td>
                    <td th:if="${#fields.hasErrors('claimStatus')}" th:errors="${compensationClaim.claimStatus}"></td>
                </tr>

                <tr>
                    <td>
                        <label for="comments">Reason</label>
                    </td>
                    <td>
                        <textarea id="comments" rows="2" cols="50" th:field="${compensationClaim.comments}"></textarea>
                    </td>
                    <td th:if="${#fields.hasErrors('comments')}" th:errors="${compensationClaim.comments}"></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit" />
                        <input type="reset" value="Reset" />
                        <a th:href="@{/compensation-claims/view-pending-approval}" class="button is-primary">Back to Pending Claims</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>