<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
    <div th:replace="fragments/navbar :: menu"></div>
    <h1>View My Compensation Claims</h1>

    <table>
        <tr>
            <td>Name: </td>
            <td th:text="${employee}"></td>
        </tr>

        <tr>
            <td>Approved Compensation Leave: </td>
            <td th:text="${leaveBalance}+' Days'"></td>
        </tr>
    </table>
    <br>

    <table>
        <tr>
            <td><a href="/compensation-claims/create" class="button is-primary">New Compensation Claim</a></td>
            <!-- TODO: to implement save as CSV function-->
            <td><a class="button is-primary">Save as CSV</a></td>
        </tr>
    </table>
    <br>

    <th:block th:unless="${#lists.isEmpty(compensationClaims)}">
        <table style="table-layout:fixed">
            <thead>
                <tr>
                    <td>Claim Id</td>
                    <td>Overtime Start</td>
                    <td>Overtime End</td>
                    <td>Overtime Hours</td>
                    <td>Eligible Compensation Leave</td>
                    <td>Status</td>
                    <td>Update</td>
                    <td>Withdraw</td>
                    <td>Details</td>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="claim:${compensationClaims}">
                    <tr>
                        <td th:text="${claim.id}"></td>
                        <td th:text="${#temporals.format(claim.overtimeStartDateTime, 'dd-MMM-yyyy, HH:mm')}"></td>
                        <td th:text="${#temporals.format(claim.overtimeEndDateTime, 'dd-MMM-yyyy, HH:mm')}"></td>
                        <td th:text="${claim.overtimeHours}"></td>
                        <td th:text="${claim.compensationLeaveRequested}"></td>
                        <td th:text="${claim.compensationClaimStatus}"></td>
                        <td >
                            <span th:if="${claim.compensationClaimStatus.name()}=='APPLIED'
                                     or ${claim.compensationClaimStatus.name()}=='UPDATED'">
                                <a th:href="@{/compensation-claims/update/{id}(id=${claim.id})}" class="button is-primary">Update</a>
                            </span>
                            <span> </span> <!-- whitespace to retain cell space -->
                        </td>
                        <td >
                            <span th:if="${claim.compensationClaimStatus.name()}=='APPLIED'
                                     or ${claim.compensationClaimStatus.name()}=='UPDATED'">
                                <a th:href="@{/compensation-claims/withdraw/{id}(id=${claim.id})}" class="button is-primary">Withdraw</a>
                            </span>
                            <span> </span> <!-- whitespace to retain cell space -->
                        </td>
                        <td >
                            <span th:if="${claim.compensationClaimStatus.name()}=='APPROVED'
                                     or ${claim.compensationClaimStatus.name()}=='REJECTED'">
                                <a th:href="@{/compensation-claims/history/{id}(id=${claim.id})}" class="button is-primary">Details</a>
                            </span>
                            <span> </span> <!-- whitespace to retain cell space -->
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </th:block>

</body>
</html>