<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
    <h1>Review Compensation Claim </h1>

    <form action="#" th:action="@{/compensation-claims/review-submit}" th:object="${compensationClaim}" method="post">
        <input type="hidden" th:field="${compensationClaim.id}"/>
        <input type="hidden" th:field="${compensationClaim.claimingEmployee}"/>
        <input type="hidden" th:field="${compensationClaim.approvingManager}"/>
        <input type="hidden" th:field="${compensationClaim.claimedDateTime}"/>
        <input type="hidden" th:field="${compensationClaim.overtimeStartDateTime}"/>
        <input type="hidden" th:field="${compensationClaim.overtimeEndDateTime}"/>
        <input type="hidden" th:field="${compensationClaim.overtimeHours}"/>
        <input type="hidden" th:field="${compensationClaim.compensationLeaveRequested}"/>

        <table>
            <tbody>
                <tr>
                    <td>Claim Id: </td>
                    <td th:text="${compensationClaim.id}"></td>
                </tr>
                <tr>
                    <td>Claiming Employee Name: </td>
                    <td th:text="${compensationClaim.claimingEmployee.name}"></td>
                </tr>

                <tr>
                    <td>Overtime Start</td>
                    <td th:text="${#temporals.format(compensationClaim.overtimeStartDateTime, 'dd-MMM-yyyy, HH:mm')}"></td>
                </tr>

                <tr>
                    <td>Overtime End</td>
                    <td th:text="${#temporals.format(compensationClaim.overtimeEndDateTime, 'dd-MMM-yyyy, HH:mm')}"></td>
                </tr>

                <tr>
                    <td>Overtime Hours</td>
                    <td th:text="${compensationClaim.overtimeHours}"></td>
                </tr>

                <tr>
                    <td>Eligible Compensation Leave</td>
                    <td th:text="${compensationClaim.compensationLeaveRequested}"></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <fieldset>
                            <label for="approve" th:text="Approve"></label>
                            <input type="radio" id="approve" th:field="*{compensationClaimStatus}" th:value="APPROVED" />
                            &nbsp;&nbsp;
                            <label for="reject" th:text="Reject"></label>
                            <input type="radio" id="reject" th:field="*{compensationClaimStatus}" th:value="REJECTED" />
                        </fieldset>
                    </td>
                    <td th:if="${#fields.hasErrors('compensationClaimStatus')}" th:errors="*{compensationClaimStatus}"></td>
                </tr>

                <tr>
                    <td>
                        <label for="comments">Reason</label>
                    </td>
                    <!-- TODO: bug: compulsory rejection comment not working, to correct -->
                    <td>
                        <textarea id="comments" rows="2" cols="50" th:field="*{comments}"></textarea>
                    </td>
                    <td th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit" />
                        <input type="reset" value="Reset" />
                        <a th:href="@{/compensation-claims/pending}" class="button is-primary">Back</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>