<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
    <h1>Review Compensation Claim </h1>

    <table>
        <tbody>
            <tr>
                <td>Claim Id: </td>
                <td th:text="${compensationClaim.id}"></td>
            </tr>
            <tr>
                <td>Claiming Employee Name: </td>
                <td th:text="${compensationClaim.claimingEmployee.name}"></td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <tbody>
            <tr>
                <td>Overtime Start</td>
                <td th:text="${#temporals.format(compensationClaim.overtimeStartDateTime, 'dd-MMM-yyyy, HH:mm')}"></td>
            </tr>

            <tr>
                <td>Overtime End</td>
                <td th:text="${#temporals.format(compensationClaim.getOvertimeEndDateTime(), 'dd-MMM-yyyy, HH:mm')}"></td>
            </tr>

            <tr>
                <td>Overtime Hours</td>
                <td th:text="${compensationClaim.overtimeHours}"></td>
            </tr>

            <tr>
                <td>Eligible Compensation Leave</td>
                <td th:text="${compensationClaim.compensationLeaveRequested}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!-- form shows error for th:action for `unexpected +`, but it works -->
    <form action="#" th:action="@{/compensation-claims/review-submit/}+${compensationClaim.id}"
          th:object="${compensationClaimApproval}" method="post">
        <table>
            <tr>
                <td>
                    <fieldset>
                        <label for="approve" th:text="Approve"></label>
                        <input type="radio" id="approve" th:field="*{decision}" th:value="APPROVED" />
                        &nbsp;&nbsp;
                        <label for="reject" th:text="Reject"></label>
                        <input type="radio" id="reject" th:field="*{decision}" th:value="REJECTED" />
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('decision')}" th:errors="*{decision}">Please select Approve or Reject</td>
            </tr>
            <tr>
                <td>
                    <label for="comment">Reason</label>
                </td>
                <!-- TODO: bug: compulsory rejection comment not working, to correct -->
                <td>
                    <textarea id="comment" rows="2" cols="50"
                              th:field="*{comment}"
                              th:required="*{decision}=='REJECTED' ? 'required' : null">
                    </textarea>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                    <input type="reset" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>