<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
    <h1>Update Compensation Claim </h1>

    <form action="#" th:action="@{/compensation-claims/update-submit}" th:object="${compensationClaim}" method="post">
        <input type="hidden" th:field="${compensationClaim.id}"/>
        <input type="hidden" th:field="${compensationClaim.claimingEmployee}"/>
        <input type="hidden" th:field="${compensationClaim.approvingManager}"/>
        <input type="hidden" th:field="${compensationClaim.claimedDateTime}"/>
        <input type="hidden" th:field="${compensationClaim.overtimeHours}"/>
        <input type="hidden" th:field="${compensationClaim.compensationLeaveRequested}"/>
        <input type="hidden" th:field="${compensationClaim.compensationClaimStatus}"/>

        <table>
            <tbody>
                <tr>
                    <td>Claiming Employee Name: </td>
                    <td th:text="${compensationClaim.claimingEmployee.name}"></td>
                </tr>

                <tr>
                    <td>Approving Manager: </td>
                    <td th:text="${compensationClaim.approvingManager.name}"></td>
                </tr>
            </tbody>
        </table>
        <br>

        <table>
            <tbody>
                <tr>
                    <td>Overtime Start</td>
                    <td th:text="${#temporals.format(compensationClaim.overtimeStartDateTime, 'dd-MMM-yyyy, HH:mm')}"></td>
                </tr>

                <tr>
                    <td><label for="overtimeStartDateTime">Updated Overtime Start</label></td>
                    <td><input id="overtimeStartDateTime" type="datetime-local"
                                th:value="*{overtimeStartDateTime}" th:field="*{overtimeStartDateTime}"/></td>
<!--                    <td th:if="${#fields.hasErrors('overtimeStartDateTime')}" th:errors="*{overtimeStartDateTime}"></td>-->
                    <td>
                        <ul>
                            <li th:each="err : ${#fields.errors('overtimeStartDateTime')}" th:text="${err}"/>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>Overtime End</td>
                    <td th:text="${#temporals.format(compensationClaim.getOvertimeEndDateTime(), 'dd-MMM-yyyy, HH:mm')}"></td>
                </tr>

                <tr>
                    <td><label for="overtimeEndDateTime">Updated Overtime End</label></td>
                    <td><input id="overtimeEndDateTime" type="datetime-local"
                               th:value="*{overtimeEndDateTime}" th:field="*{overtimeEndDateTime}"/></td>
<!--                    <td th:if="${#fields.hasErrors('overtimeEndDateTime')}" th:errors="*{overtimeEndDateTime}"></td>-->
                    <td>
                        <ul>
                            <li th:each="err : ${#fields.errors('overtimeEndDateTime')}" th:text="${err}"/>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Update" />
                        <input type="reset" value="Reset" />
                        <a th:href="@{/compensation-claims/history}" class="button is-primary">Back</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>