<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head th:replace="fragments/head :: html_head">
    <title>Subordinate Leave History</title>
</head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<br/>
<h2 style="text-align: center;">Subordinate Leave History</h2>



<table style="margin-right: auto; margin-left: auto; width: 50%">
    <tr>

    </tr>
    <tr>
        <td>
            <form action="#"
                  th:action="@{/manager/leave/managerView}" method="post">
                <div style="font-weight: bold">
                    Search By:
                </div>

                <label>
                    <select name="searchType">
                        <option value="name">Name</option>
                        <option value="id">Employee Id</option>
                    </select>
                </label>
                <div style="font-weight: bold">
                    Enter keyword: <label>
                    <input type="text"
                           name="keyword" />
                </label>
                </div>

                <!-- Sort by Date Range -->
                <div class="input-group mb-3">
                    <span class="input-group-text">Date Range</span>
                    <label><input class="form-control" type="date" name="startDate"></label>
                    <span class="input-group-text">To</span>
                    <label><input class="form-control" type="date" name="endDate"></label>
                </div>

                <!-- Sort by Leave Application Status -->
                <div class="input-group mb-3 w-50">
                    <label class="input-group-text" for="applicationStatus">Leave Status</label>
                    <select class="form-control" name="leaveStatus" id="applicationStatus">
                        <option selected>ALL</option>
                        <option th:each="status : ${T(com.team4.leaveprocessingsystem.model.enums.LeaveStatusEnum).values()}"
                                th:value="${status}" th:text="${status}"></option>
                    </select>
                </div>

                <fieldset>
                    <input type="submit" value="Search"
                    />
                     <a th:href="@{/manager/leave/managerView}">Reset</a>
                </fieldset>
            </form>

            <!-- Data Export - Save as CSV -->
            <form class="form-inline text-center" method="POST" th:object="${reportingDTO}" th:action="@{/manager/reporting/downloadEmployeeLeaveApplicationsCSV}">
                <div class="form-group">
                    <div class="input">
                        <button type="submit" class="btn btn-primary">Save as CSV</button>
                        <input type="hidden" th:field="${reportingDTO.applications}">
                    </div>
                </div>
            </form>
        </td>

    </tr>
</table>
<br>
<table th:if="${not #lists.isEmpty(reportingDTO.applications)}" style="width:80%;
margin-left: auto; margin-right: auto;">
    <tr>
        <th>Application ID</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Leave Status</th>
        <th>Leave Type</th>
        <th>Details</th>
    </tr>
    <tr th:each="leaveApplication:${reportingDTO.applications}">
        <td th:text="${leaveApplication.getId()}">Application Id</td>
        <td th:text="${leaveApplication.getSubmittingEmployee().id}">Employee id</td>
        <td th:text="${leaveApplication.getSubmittingEmployee().getName()}">Name</td>
        <td><a th:text="${#temporals.format(leaveApplication.getStartDate(), 'dd-MMM-yyyy')}">Start Date</a></td>

        <td th:text="${#temporals.format(leaveApplication.getEndDate(), 'dd-MMM-yyyy')}">End Date</td>
        <td th:text="${leaveApplication.getLeaveStatus()}">Leave Status</td>
        <td th:text="${leaveApplication.leaveType}">Leave Type</td>
        <!-- change link to the controller method for manager to view detail leave application for approval/reject-->
        <td><a th:href="@{/manager/leave/viewSubordinateDetails/{id}(id=${leaveApplication.getId()})}">Details</a></td>

    </tr>
</table>



</body>


</html>