<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: html_head">
    <title>Subordinate Leave Application</title>
</head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
<h3>Subordinate Leave Application</h3>

<table>
    <tbody>
    <tr>
        <td>Employee Name</td>
        <td th:text="${leave.submittingEmployee.name}"></td>
    </tr>
    <tr>
        <td>Leave Type</td>
        <td th:text="${leave.leaveType}">
        </td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td th:text="${#temporals.format(leave.startDate, 'dd-MMM-yyyy')}">
    </tr>
    <tr>
        <td>End Date</td>
        <td th:text="${#temporals.format(leave.endDate, 'dd-MMM-yyyy')}">
    </tr>
    <tr>
        <td th:if="${leave.submittingEmployee.manager.name} != null">Approving Manager</td>
        <td th:if="${leave.submittingEmployee.manager.name} != null" th:text="${leave.submittingEmployee.manager.name}"></td>
    </tr>
    <tr>
        <td>Reason</td>
        <td th:text="${leave.submissionReason}">
    </tr>
    <tr>
        <td>Work Dissemination (if any)</td>
        <td th:text="${leave.workDissemination}">
    </tr>
    <tr>
        <td>Contact Details (if on an overseas trip)</td>
        <td th:text="${leave.contactDetails}">
    </tr>
    <tr>
        <td>Leave Status</td>
        <td th:text="${leave.leaveStatus}">
    </tr>
    <tr>
        <td th:if="${leave.rejectionReason != null}">Rejection Reason</td>
        <td th:if="${leave.rejectionReason != null}" th:text="${leave.rejectionReason}">
    </tr>
    <tr>
<td>
    <a th:if="${#strings.equals(leave.leaveStatus, 'APPLIED')
               or #strings.equals(leave.leaveStatus, 'UPDATED')}"
       th:href="@{/manager/leave/review/{id}(id=${leave.id})}">Review</a></td>
</td>
    </tr>
    <tr>
        <a href="#" onclick="window.location.href='/manager/leave/managerView'; return false;">Back</a>
    </tr>

    </tbody>
</table>

</body>
</html>