<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head.html :: html_head"></head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container w-75 mt-5 text-center">
    <h2 class="mb-3 mt-3 text-center">Subordinate Leave History</h2>

    <h3 class="text-center text-muted" th:if="${#lists.isEmpty(subordinateLeaveApplications)}">No Results.</h3>

    <div class="row justify-content-center">
        <div class="col-6">
            <form th:action="@{/manager/leave/searchingLeaveApplications}" method="post" class="text-start">
                <div class="mb-3">
                    <label for="searchType" class="form-label fw-bold">Search By:</label>
                    <select name="searchType" id="searchType" class="form-select">
                        <option value="name">Name</option>
                        <option value="id">Employee Id</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="keyword" class="form-label fw-bold">Enter keyword:</label>
                    <input type="text" name="keyword" id="keyword" class="form-control" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <br>

    <table class="table table-bordered table-hover mt-4" th:if="${not #lists.isEmpty(subordinateLeaveApplications)}">
        <thead class="bg-primary text-white">
        <tr>
            <th>Application ID</th>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Status</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leaveApplication : ${subordinateLeaveApplications}">
            <td th:text="${leaveApplication.getId()}">Application Id</td>
            <td th:text="${leaveApplication.getSubmittingEmployee().id}">Employee id</td>
            <td th:text="${leaveApplication.getSubmittingEmployee().getName()}">Name</td>
            <td th:text="${#temporals.format(leaveApplication.getStartDate(), 'dd-MMM-yyyy')}">Start Date</td>
            <td th:text="${#temporals.format(leaveApplication.getEndDate(), 'dd-MMM-yyyy')}">End Date</td>
            <td th:text="${leaveApplication.getLeaveStatus()}">Leave Status</td>
            <td><a class="btn btn-link" th:href="@{/manager/leave/viewSubordinateDetails/{id}(id=${leaveApplication.getId()})}">Details</a></td>
        </tr>
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="#" class="btn btn-secondary" onclick="window.location.href='/home'; return false;">Back to Home</a>
    </div>
</div>

</body>
</html>
