<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head th:replace="fragments/head :: html_head">
    <title>Subordinate Leave History</title>
</head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<br/>
<h2 style="text-align: center;">Subordinate Leave History</h2>



<table style="margin-right: auto; margin-left: auto; width: 50%">
    <tr>

    </tr>
    <tr>
        <td>
            <form action="#"
                  th:action="@{/manager/leave/searchingLeaveApplications}" method="post">
                <div style="font-weight: bold">
                    Search By:
                </div>

                <label>
                    <select name="searchType">
                        <option value="name">Name</option>
                        <option
                                value="id">Employee Id</option>
                    </select>
                </label>
                <div style="font-weight: bold">
                    Enter keyword: <label>
                    <input type="text"
                           name="keyword" />
                </label>
                </div>

                <fieldset>
                    <input type="submit" value="Search"
                    />
                     <a th:href="@{/manager/leave/managerView}">Reset</a>
                </fieldset>
            </form>
        </td>

    </tr>
</table>
<br>
<table th:if="${not #lists.isEmpty(subordinateLeaveApplications)}" style="width:80%;
margin-left: auto; margin-right: auto;">
    <tr>
        <th>Application ID</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Leave Status</th>
        <th>Leave Type</th>
        <th>Details</th>
    </tr>
    <tr th:each="leaveApplication:${subordinateLeaveApplications}">
        <td th:text="${leaveApplication.getId()}">Application Id</td>
        <td th:text="${leaveApplication.getSubmittingEmployee().id}">Employee id</td>
        <td th:text="${leaveApplication.getSubmittingEmployee().getName()}">Name</td>
        <td><a th:text="${#temporals.format(leaveApplication.getStartDate(), 'dd-MMM-yyyy')}">Start Date</a></td>

        <td th:text="${#temporals.format(leaveApplication.getEndDate(), 'dd-MMM-yyyy')}">End Date</td>
        <td th:text="${leaveApplication.getLeaveStatus()}">Leave Status</td>
        <td th:text="${leaveApplication.leaveType}">Leave Type</td>
        <!-- change link to the controller method for manager to view detail leave application for approval/reject-->
        <td><a th:href="@{/manager/leave/viewSubordinateDetails/{id}(id=${leaveApplication.getId()})}">Details</a></td>

    </tr>
</table>



</body>


</html>