<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head}"></head>



<body>
<nav class="navbar navbar-expand-sm navbar-light mb-5">

</nav>
<main>
    <div class="items_table mt-5 mb-4">
        <div class="table-responsive p-2">


            <table class="table table-bordered table-hover mt-5" th:if="${not #lists.isEmpty(staffs)}">
                <thead class="bg-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Job Designation</th>
                <th>Role</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr th:each="staff:${staffs}">
                    <td th:text="${staff.id}">Id</td>
                    <td th:text="${staff.name}">Name</td>
                    <td th:text="${staff.jobDesignation.name}">Job Designation</td>
                    <td>
                        <a th:href="@{/admin/manage-staff/edit/{id}(id=${staff.id})}">Edit</a>
                        <a th:href="@{/admin/manage-staff/delete/{id}(id=${staff.id})}">Delete</a>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>

</main>

</body>
</html>