<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: html_head"></head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container w-50 mt-5 text-center">
    <h1 class="mb-3 mt-3 text-center">
        <span th:if="${#strings.equals(leave.leaveStatus, 'APPLIED')}" th:text="'New Leave Application'"></span>
        <span th:if="${#strings.equals(leave.leaveStatus, 'UPDATED')}" th:text="'Edit Leave Application'"></span>
    </h1>

    <form th:action="@{/employee/leave/save}" method="post" th:object="${leave}">
        <!-- hidden fields -->
        <input type="hidden" name="applicationId" th:field="*{id}" />
        <input type="hidden" name="submittingEmployee" th:field="*{submittingEmployee}" />
        <input type="hidden" name="reviewingManager" th:field="*{reviewingManager}" />
        <input type="hidden" name="leaveStatus" th:field="*{leaveStatus}" />

        <fieldset class="border p-3 mb-4">
            <legend class="w-auto px-2">Employee Information</legend>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label">Employee Name:</label>
                <div class="col-8">
                    <input class="form-control-plaintext" readonly th:value="${leave.submittingEmployee.name}"/>
                </div>
            </div>
            <div class="mb-3 row align-items-center" th:if="${leave.submittingEmployee.manager != null}">
                <label class="col-4 col-form-label">Approving Manager:</label>
                <div class="col-8">
                    <input class="form-control-plaintext" readonly th:value="${leave.submittingEmployee.manager.name}" />
                </div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4">
            <legend class="w-auto px-2">Leave Details</legend>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label" for="leaveType">Leave Type:</label>
                <div class="col-8">
                    <select id="leaveType" class="form-select" th:field="*{leaveType}">
                        <option th:each="leaveType : ${leaveTypes}" th:value="${leaveType}" th:text="${leaveType}"></option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label">Available Days:</label>
                <div class="col-8">
                    <input type="hidden" id="medicalDays" th:value="${leave.submittingEmployee.getLeaveBalance().getCurrentMedicalLeave()}"/>
                    <input type="hidden" id="annualDays" th:value="${leave.submittingEmployee.getLeaveBalance().getCurrentAnnualLeave()}"/>
                    <input type="hidden" id="compensationDays" th:value="${leave.submittingEmployee.getLeaveBalance().getCurrentCompensationLeave()}"/>
                    <input type="hidden" id="compassionateDays" th:value="${leave.submittingEmployee.getLeaveBalance().COMPASSIONATE_LEAVE}"/>
                    <span id="availableDays"></span>
                </div>
            </div>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label" for="startDate">Start Date:</label>
                <div class="col-8">
                    <input class="form-control" id="startDate" type="date" th:field="*{startDate}" />
                    <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></span>
                </div>
            </div>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label" for="endDate">End Date:</label>
                <div class="col-8">
                    <input class="form-control" id="endDate" type="date" th:field="*{endDate}" />
                    <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error"></span>
                </div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4">
            <legend class="w-auto px-2">Additional Information</legend>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label" for="reason">Reason:</label>
                <div class="col-8">
                    <textarea class="form-control" id="reason" th:field="*{submissionReason}" rows="5"></textarea>
                    <span th:if="${#fields.hasErrors('submissionReason')}" th:errors="*{submissionReason}" class="error"></span>
                </div>
            </div>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label" for="dissemination">Work Dissemination (if any):</label>
                <div class="col-8">
                    <textarea class="form-control" id="dissemination" th:field="*{workDissemination}" rows="5"></textarea>
                </div>
            </div>
            <div class="mb-3 row align-items-center">
                <label class="col-4 col-form-label" for="contact">Contact Details (if on an overseas trip):</label>
                <div class="col-8">
                    <textarea class="form-control" id="contact" th:field="*{contactDetails}" rows="5"></textarea>
                </div>
            </div>
        </fieldset>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>

        <div class="text-center mt-3">
            <a href="#" class="btn btn-link" onclick="history.go(-1); return false;">Back</a>
        </div>
    </form>

    <script src="/js/leaveForm.js"></script>
</div>

</body>
</html>
