<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: html_head"></head>

<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container w-75 mt-5 text-center">
    <h2 class="mb-3 mt-3 text-center">Personal Leave History</h2>

    <h3 class="text-center text-muted" th:if="${#lists.isEmpty(personalLeaveApplications)}">No Results.</h3>

    <table class="table table-bordered table-hover mt-4" th:if="${not #lists.isEmpty(personalLeaveApplications)}">
        <thead class="bg-primary text-white">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Status</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leaveApplication : ${personalLeaveApplications}">
            <td th:text="${leaveApplication.getId()}">Id</td>
            <td th:text="${leaveApplication.getSubmittingEmployee().getName()}">Name</td>
            <td><a th:text="${#temporals.format(leaveApplication.getStartDate(), 'dd-MMM-yyyy')}">Start Date</a></td>
            <td th:text="${#temporals.format(leaveApplication.getEndDate(), 'dd-MMM-yyyy')}">End Date</td>
            <td th:text="${leaveApplication.getLeaveStatus()}">Leave Status</td>
            <td><a class="btn btn-link" th:href="@{/employee/leave/view/{id}(id=${leaveApplication.getId()})}">Details</a></td>
        </tr>
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="#" class="btn btn-secondary" onclick="history.go(-1); return false;">Back</a>
    </div>
</div>

</body>
</html>
