<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head :: html_head">
    <title>Personal Leave History</title>
</head>
<body>
<div th:replace="fragments/navbar :: menu"></div>

<br/>
<h2 style="text-align: center;">Personal Leave History</h2>

<h3 style="text-align: center;"
    th:if="${#lists.isEmpty(personalLeaveApplications)}">No Results.</h3>


<table th:if="${not #lists.isEmpty(personalLeaveApplications)}" style="width:80%;
margin-left: auto; margin-right: auto;">
    <tr>
        <th>Leave Application ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Leave Type</th>
        <th>Leave Status</th>
        <th>Details</th>
    </tr>
    <tr th:each="leaveApplication:${personalLeaveApplications}">
        <td th:text="${leaveApplication.getId()}"></td>
        <td th:text="${#temporals.format(leaveApplication.getStartDate(), 'dd-MMM-yyyy')}"></td>
        <td th:text="${#temporals.format(leaveApplication.getEndDate(), 'dd-MMM-yyyy')}"></td>
        <td th:text="${leaveApplication.getLeaveType()}"></td>
        <td th:text="${leaveApplication.getLeaveStatus()}"></td>
        <td><a th:href="@{/employee/leave/view/{id}(id=${leaveApplication.getId()})}">Details</a></td>
    </tr>
</table>

<table style="width:50%; margin-left: auto; margin-right: auto; border:
white;">
    <tr>
        <td style="text-align: center; font-weight: bold;"><a href="#" onclick="history.go(-1); return false;">Back</a></td>
    </tr>
</table>
</body>
</html>