<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: html_head">
    <title>Leave Application</title>
</head>
<body>
<div th:replace="fragments/navbar :: menu"></div>
<h3>View Leave Application</h3>

<table>
    <tbody>
    <tr>
        <td><h4 th:text="${leave.submittingEmployee.name}"></h4></td>
    </tr>
    <tr>
        <td>Leave Type</td>
        <td th:text="${leave.leaveType}">
        </td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td th:text="${#temporals.format(leave.startDate, 'dd-MMM-yyyy')}"></td>
    </tr>
    <tr>
        <td>End Date</td>
        <td th:text="${#temporals.format(leave.endDate, 'dd-MMM-yyyy')}"></td>
    </tr>
    <tr>
        <td th:if="${leave.reviewingManager} != null">Approving Manager</td>
        <td th:if="${leave.reviewingManager} != null" th:text="${leave.reviewingManager.name}"></td>
    </tr>
    <tr>
        <td>Reason</td>
        <td th:text="${leave.submissionReason}"></td>
    </tr>
    <tr>
        <td>Work Dissemination (if any)</td>
        <td th:text="${leave.workDissemination}"></td>
    </tr>
    <tr>
        <td>Contact Details (if on an overseas trip)</td>
        <td th:text="${leave.contactDetails}">
    </tr>
    <tr>
        <td>Leave Status</td>
        <td th:text="${leave.leaveStatus}"></td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/employee/leave/edit/{id}(id=${leave.id})}"
               th:if="${#strings.equals(leave.leaveStatus, 'APPLIED')
               or #strings.equals(leave.leaveStatus, 'UPDATED')}">
                Edit
            </a>
            <a th:href="@{/employee/leave/cancel/{id}(id=${leave.id})}"
               th:if="${#strings.equals(leave.leaveStatus, 'APPROVED')}">
                Cancel
            </a>
            <a th:href="@{/employee/leave/delete/{id}(id=${leave.id})}"
               th:if="${#strings.equals(leave.leaveStatus, 'APPLIED')
               or #strings.equals(leave.leaveStatus, 'UPDATED')}">
                Delete
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" onclick="history.go(-1); return false;">Back</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>