<!-- reference / source: https://getbootstrap.com/docs/5.3/components/navbar/ -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: html_head"></head>

<body>
<div th:fragment="menu" id="menu">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <!-- Logo / Home Auto Routed -->
        <a class="navbar-brand ps-2" th:href="@{/home}">
            <img src="/images/team_4_logo.png" height="25" alt="team 4 logo">
        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-underline">

                <!-- Admin Only -->
                <li class="nav-item pt-2 d-flex flex-row" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/home}">Home</a>
                <li class="nav-item pt-2 d-flex flex-row" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/manage-staff/}">Manage Staff</a>
                </li>
                <li class="nav-item pt-2 d-flex flex-row" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/leave-entitlement/}">Leave Entitlement</a>
                </li>
                <li class="nav-item pt-2" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/manage-leave-types/}">Manage Leave Types</a>
                </li>
                <li class="nav-item pt-2" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/manage-hierarchy/list}">Manage Hierarchy</a>
                </li>

                <!-- Employee + Manager -->
                <li class="nav-item pt-2 d-flex flex-row" th:if="${#authorization.expression('hasAnyRole(''EMPLOYEE'', ''MANAGER'')')}">
                    <a class="nav-link" th:href="@{/employee/leave/create}">Apply Leave</a>
                    <a class="nav-link" th:href="@{/employee/leave/personalHistory}">My Leave History</a>
                    <a class="nav-link" th:href="@{/employee/compensation-claims/view}">My Compensation Claims</a>
                </li>
                <li class="nav-item pt-2 d-flex flex-row" th:if="${#authorization.expression('hasRole(''MANAGER'')')}">
                    <a class="nav-link" th:href="@{/manager/leave/pendingLeaves}">Review Leave Applications</a>
                    <a class="nav-link" th:href="@{/manager/leave/managerView}">View Subordinates Leaves</a>
                    <a class="nav-link" th:href="@{/manager/compensation-claims/viewPendingApproval}">Approve Compensation Claims</a>
                    <a class="nav-link" th:href="@{/manager/compensation-claims/viewEmployees}">View Employee Compensation Claims</a>
                </li>
            </ul>
        </div>
            <!-- right side -->
            <ul class="nav">
                <!-- Greeting -->
                <li class="nav-item pt-3">
                    <span class="navbar-text">Hello, <span th:text="${#authentication.name}"></span></span>
                </li>
                <!-- logout -->
                <li class="nav-item pt-2">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-link nav-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>