<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Account</title>
</head>
<body>
<!-- View all employees exclude deleted ones mode -->
<span th:${userAccount}>
        <table class="table table-bordered table-hover mt-5" th:if="${not #lists.isEmpty(userAccount)}">
            <thead class="bg-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Job Designation</th>
                    <th>Manager</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account:${userAccount}">
                    <td th:text="${account.username}">Name</td>
                    <td th:text="${account.role}">Job Designation</td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/manage-staff-password/change-password/{id}(id=${account.id})}">Change Password</a>
                    </td>
                </tr>
            </tbody>
        </table>



    </span>
</body>
</html>