<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>
<div th:replace="fragments/navbar :: menu"></div>

<!--  Div to align body contents  -->
<div class="d-flex flex-column align-items-center">
    <!-- Contents Header -->
    <h1>View Movement Register</h1>
    <br>
    <!-- Contents Body -->
    <div>
        <!-- Date Picker -->
        <form action="#" class="form-inline text-center" method="POST" th:action="@{/employee/movement-register/view}">
            <div class="form-group">
                <div class="input">
                    <label for="datePicker">Select Month</label>
                    <input id="datePicker" name="date" onchange="this.form.submit()" th:value="${pickedDate}"
                           type="month">
                </div>
            </div>
        </form>
        <!-- Loop through employees -->
        <th:block th:each="employee:${applicationsMap}">
            <table class="table table-striped table-responsive-md w-auto">
                <thead>
                <tr>
                    <th colspan="3">
                        <h4 th:text="${employee.key}"></h4>
                    </th>
                </tr>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Leave Type</th>
                </tr>
                </thead>
                <!-- Loop through applications -->
                <tbody>
                <tr th:each="leaveApplication:${employee.value}">
                    <td th:text="${#temporals.format(leaveApplication.getStartDate(), 'dd-MMM-yyyy')}"></td>
                    <td th:text="${#temporals.format(leaveApplication.getEndDate(), 'dd-MMM-yyyy')}"></td>
                    <td th:text="${leaveApplication.getLeaveType()}"></td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </div>

</div>

</body>
</html>