<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head}"></head>
<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container">
    <h1>Add Public Holiday</h1>
    <br>
    <form th:action="@{/admin/manage-ph/add}" th:object="${publicHoliday}" method="post">
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" th:field="*{date}" required />
        </div>
        <div class="form-group">
            <label for="holiday">Holiday:</label>
            <input type="text" class="form-control" id="holiday" th:field="*{holiday}" required />
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary ml-2" th:href="@{/admin/manage-ph/}">Back to List</a>
        </div>
    </form>
</div>
</body>
</html>
