<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: html_head}">
    <script type="text/javascript">
        function confirmDelete(event) {
            if (!confirm("Are you sure you want to delete this public holiday?")) {
                event.preventDefault();
            }
        }
    </script>
</head>
<body>
<div th:replace="fragments/navbar :: menu"></div>

<div class="container">
    <h1>Public Holidays</h1>
    <br>

    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <form class="form-inline" method="get" th:action="@{/admin/manage-ph/filter}">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon2">Filter By Year</span>
                    <select class="form-control" name="year">
                        <option value="">All Years</option>
                        <option th:each="year : ${years}" th:value="${year}" th:text="${year}"
                                th:selected="${selectedYear == year}"></option>
                    </select>
                    <button type="submit" class="btn btn-outline-primary ml-2" data-mdb-ripple-init>Search</button>
                </div>
            </div>
        </form>
        <a class="btn btn-success btn-lg text-white text-decoration-none" th:href="@{/admin/manage-ph/add}">
            Add New Holiday
        </a>
    </div>

    <br>

    <table class="table table-bordered table-hover mt-5" th:if="${not #lists.isEmpty(publicHolidays)}">
        <thead class="bg-primary text-white">
        <tr>
            <th>Date</th>
            <th>Holiday</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="holiday : ${publicHolidays}">
            <td th:text="${holiday.date}">Date</td>
            <td th:text="${holiday.holiday}">Holiday</td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/manage-ph/edit/{id}(id=${holiday.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/admin/manage-ph/delete/{id}(id=${holiday.id})}" onclick="confirmDelete(event)">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
